In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-07-14 01:10:22,-46.6000,168.3333,47.80,75,74,12.91
1,1,Mataura,NZ,2022-07-14 01:10:22,-46.1927,168.8643,47.48,89,41,5.01
2,2,Castro,BR,2022-07-14 01:10:23,-24.7911,-50.0119,52.79,96,100,8.63
3,3,Makakilo City,US,2022-07-14 01:10:23,21.3469,-158.0858,82.72,67,75,21.85
4,4,Hobart,AU,2022-07-14 01:10:23,-42.8794,147.3294,48.25,80,75,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windy
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Makakilo City,US,2022-07-14 01:10:23,21.3469,-158.0858,82.72,67,75,21.85
7,7,Kapaa,US,2022-07-14 01:10:24,22.0752,-159.3190,85.98,73,20,17.27
10,10,Vaini,TO,2022-07-14 01:10:25,-21.2000,-175.2000,76.93,85,21,20.31
13,13,San Cristobal,VE,2022-07-14 01:06:24,7.7669,-72.2250,73.58,88,77,2.55
14,14,Marawi,PH,2022-07-14 01:10:26,7.9986,124.2928,79.25,67,12,1.28
16,16,Lorengau,PG,2022-07-14 01:10:27,-2.0226,147.2712,85.33,67,26,6.62
17,17,Arawa,PG,2022-07-14 01:10:27,-6.2132,155.5367,88.00,62,57,4.88
20,20,Rikitea,PF,2022-07-14 01:10:28,-23.1203,-134.9692,70.14,81,98,9.28
21,21,El Rosario,MX,2022-07-14 01:10:28,24.2556,-107.1828,85.32,67,73,8.59
22,22,Bengkulu,ID,2022-07-14 01:10:29,-3.8004,102.2655,77.74,87,56,2.91

In [12]:
preferred_cities_df.count()

City_ID       268
City          268
Country       268
Date          268
Lat           268
Lng           268
Max Temp      268
Humidity      268
Cloudiness    268
Wind Speed    268
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3   Makakilo City      US     82.72  21.3469 -158.0858
7           Kapaa      US     85.98  22.0752 -159.3190
10          Vaini      TO     76.93 -21.2000 -175.2000
13  San Cristobal      VE     73.58   7.7669  -72.2250
14         Marawi      PH     79.25   7.9986  124.2928
16       Lorengau      PG     85.33  -2.0226  147.2712
17          Arawa      PG     88.00  -6.2132  155.5367
20        Rikitea      PF     70.14 -23.1203 -134.9692
21     El Rosario      MX     85.32  24.2556 -107.1828
22       Bengkulu      ID     77.74  -3.8004  102.2655

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Makakilo City,US,82.72,21.3469,-158.0858,Marriott's Ko Olina Beach Club
7,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Vaini,TO,76.93,-21.2000,-175.2000,Keleti Beach Resort
13,San Cristobal,VE,73.58,7.7669,-72.2250,Pirineos
14,Marawi,PH,79.25,7.9986,124.2928,Derogongan Residence
...,...,...,...,...,...,...
561,Yenagoa,NG,73.63,4.9247,6.2642,Aridolf Resort Wellness and Spa
565,San Policarpo,PH,83.12,12.1791,125.5072,Agapita M. Nicart
566,Lafayette,US,86.13,30.2335,-92.0668,"Drury Inn & Suites Lafayette, LA"
567,Yarada,IN,79.12,17.6500,83.2667,Yarada Jungle Beach Resorts
568,Sakakah,SA,87.37,29.9697,40.2064,Fakhamat Al Orjoana Apartment

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))