In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-07-14 01:10:22,-46.6000,168.3333,47.80,75,74,12.91
1,1,Mataura,NZ,2022-07-14 01:10:22,-46.1927,168.8643,47.48,89,41,5.01
2,2,Castro,BR,2022-07-14 01:10:23,-24.7911,-50.0119,52.79,96,100,8.63
3,3,Makakilo City,US,2022-07-14 01:10:23,21.3469,-158.0858,82.72,67,75,21.85
4,4,Hobart,AU,2022-07-14 01:10:23,-42.8794,147.3294,48.25,80,75,11.50

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent windy
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Makakilo City,US,2022-07-14 01:10:23,21.3469,-158.0858,82.72,67,75,21.85
7,7,Kapaa,US,2022-07-14 01:10:24,22.0752,-159.3190,85.98,73,20,17.27
10,10,Vaini,TO,2022-07-14 01:10:25,-21.2000,-175.2000,76.93,85,21,20.31
14,14,Marawi,PH,2022-07-14 01:10:26,7.9986,124.2928,79.25,67,12,1.28
16,16,Lorengau,PG,2022-07-14 01:10:27,-2.0226,147.2712,85.33,67,26,6.62
17,17,Arawa,PG,2022-07-14 01:10:27,-6.2132,155.5367,88.00,62,57,4.88
21,21,El Rosario,MX,2022-07-14 01:10:28,24.2556,-107.1828,85.32,67,73,8.59
22,22,Bengkulu,ID,2022-07-14 01:10:29,-3.8004,102.2655,77.74,87,56,2.91
25,25,Atuona,PF,2022-07-14 01:10:29,-9.8000,-139.0333,77.77,74,30,19.66
31,31,Butaritari,KI,2022-07-14 01:10:31,3.0707,172.7902,82.69,78,6,17.43

In [19]:
preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3   Makakilo City      US     82.72  21.3469 -158.0858
7           Kapaa      US     85.98  22.0752 -159.3190
10          Vaini      TO     76.93 -21.2000 -175.2000
14         Marawi      PH     79.25   7.9986  124.2928
16       Lorengau      PG     85.33  -2.0226  147.2712
17          Arawa      PG     88.00  -6.2132  155.5367
21     El Rosario      MX     85.32  24.2556 -107.1828
22       Bengkulu      ID     77.74  -3.8004  102.2655
25         Atuona      PF     77.77  -9.8000 -139.0333
31     Butaritari      KI     82.69   3.0707  172.7902

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}